body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* padding-left: 15px;
    padding-right: 15px; */
}

main {
    flex: 1 0 auto;
}

nav .brand-logo {
    padding-left: 5px;
}

#copyright {
    margin-top: 50px;
}

#carousel {
    width: 1000px;
    height: 1000px;
}