h1 {
    color: #ee6e73
}

.sidenav li:hover {
    background-color: #ee6e73;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-signup {
    margin: 2em;
}

.profile-picture {
    height: 10em;
    width: 10em;
}

.card-image {
    width: 8em;
    border-radius: 25%;
    /*no el radius funciona no sé por qué*/
}

.container-tiempo {
    margin: 6em;
}