body {
    margin: 0;
    padding: 0;
    font-size: 1.5em; 
    font-family: Arial;
    color: #000000
}

footer {
    background-color: #c0c0c0;
    height: 100px;
    margin-bottom: 5px;
    color: #000000;
    position: relative;
}

#contenido {
    width:770px;
}

#contenido #contenido_derecha {
    width:430px;
}

#contenido #cabecera {
    position: absolute; 
    height: 100px;
    width:770px;
    background: url("../Práctica3/imagenes/cabecera.png");
}

#contenido #cabecera #imagen {
    position: absolute;
    top: 35px;
    right: 35px;
    margin-left: 35;

}

#contenido #cabecera #buscador {
    position: absolute;
    top: 40px;
    right: 20px;
}
  
#contenido #cabecera #buscador legend {
    display: none;
}
  
#contenido #cabecera #buscador fieldset {
    border: none;
}

#contenido #cabecera #menu {
    float: left;
    width: 20%;
    background: #c0c0c0;
    color: #ffffff;
}

#menu ul {
    margin-top: 0px;
    padding: 0;
    list-style:none;
}

#menu ul li {
    margin-left: 5;
    padding: 0;
    float:left;
}

#menu ul li a {
    display: block;
    position: relative;
    padding: 5px 15px;
    border: 10;
    font-weight: bold; 
}

