body {
  align-items: center;
  text-align: center;
  font-family: helvetica;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h1 {
  background: #2bbbad;
  margin: 0 0 30px 0;
  padding: 10px;
  color: #ffffff;
}

.conversor {
  display: block;
  background: #37474f;
  color: white;
  width: 75%;
  padding: 30px;
  border: solid 1px silver;
  margin: auto;
  border-radius: 10px;
}

input {
  color: white;
}

select {
  display: block;
  background-color: #fafafa;
}

.btn-small {
  background-color: #fafafa;
  color: black;
  margin-top: 5px;
}

/* input {
  display: block;
  margin: 10px 0;
  height: 30px;
  color: #666666;
}

.contenidos {
  padding: 30px;
  background: rgba(0, 0, 0, 0.7);
  border: solid 1px silver;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  color: #ffffff;
}

label {
  font-size: 25px;
}

button {
  padding: 8px;
  width: 265px;
} */
